<!DOCTYPE html>
<html>
<head>
<title>Draw Anywhere DE1</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body>
<script>
var app = angular.module("myApp", []); 
app.controller("myCtrl", function($scope, $http) {
    $scope.pins = [
{"name": "D00", "usage": "" },
{"name": "D01", "usage": "DE1XBEEOUT"},
{"name": "D02", "usage": "" },
{"name": "D03", "usage": "DE1XBEEIN"},
{"name": "D04", "usage": ""},
{"name": "D05", "usage": "CS8"},
{"name": "D06", "usage": ""},
{"name": "D07", "usage": "RECEIVER8"},
{"name": "D08", "usage": ""},
{"name": "D09", "usage": "CS7"},
{"name": "D10", "usage": ""},
{"name": "D11", "usage": "RECEIVER7"},
{"name": "D12", "usage": ""},
{"name": "D13", "usage": "CS6"},
{"name": "D14", "usage": ""},
{"name": "D15", "usage": "RECEIVER6"},
{"name": "D16", "usage": ""},
{"name": "D17", "usage": "CS5"},
{"name": "D18", "usage": ""},
{"name": "D19", "usage": "RECEIVER5"},
{"name": "D20", "usage": ""},
{"name": "D21", "usage": "CS4"},
{"name": "D22", "usage": ""},
{"name": "D23", "usage": "RECEIVER4"},
{"name": "D24", "usage": ""},
{"name": "D25", "usage": "CS3"},
{"name": "D26", "usage": ""},
{"name": "D27", "usage": "RECEIVER3"},
{"name": "D28", "usage": ""},
{"name": "D29", "usage": "CS2"},
{"name": "D30", "usage": ""},
{"name": "D31", "usage": "RECEIVER2"},
{"name": "D32", "usage": ""},
{"name": "D33", "usage": "CS1"},
{"name": "D34", "usage": ""},
{"name": "D35", "usage": "RECEIVER1"},
{"name": "D36", "usage": "SCLK"}
]

$scope.sortBy = "name";
$scope.sortByToggle = function(name){
	if($scope.sortBy.includes(name)){
		if(name == $scope.sortBy){
			$scope.sortBy = "-"+name;
		}else{
			$scope.sortBy = name;
		}
	}else{
		$scope.sortBy = name;
	}
}

});
</script>
<div class="col-sm-2 col-md-3 col-lg-4"></div>
<div ng-app="myApp" ng-controller="myCtrl" class="col-sm-8 col-xs-12 col-md-6 col-lg-4">
	<h1>Draw Anywhere DE1</h1>
	<h2>Pin Assignments</h2>
	<div class="input-group">
		<div class="input-group-addon">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</div>
		<input type="text" class="form-control" placeholder="Search" ng-model="query">
	</div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th ng-click="sortByToggle('name')">Port name</th>
				<th ng-click="sortByToggle('usage')">Use</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="pin in pins |filter: query | orderBy: sortBy">
				<td>{{pin.name}}</td>
				<td>{{pin.usage}}</td>
			</tr>	
		</tbody>
	</table>
</div>
</body>
</html>

