* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

html, body {
    background: rgba(0, 0, 0, 0) !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    overflow: hidden;
    perspective: 500px;
    -webkit-backface-visibility: hidden;
    border-radius: 4px;
}

body.transparent {
    background: transparent !important;
}

.dark > #title, .dark > #toolbar {
    color: #fff;
    background: rgba(34, 34, 34, 1);
}

.light > #title, .light > #toolbar {
    color: #000;
    background: rgba(216, 216, 216, 1);
}

#title {
    width: 100%;
    position: absolute;
    top: 0;
    height: 36px;
    -webkit-app-region: drag;
    font-size: 11pt;
    font-weight: 400;
    overflow: hidden;
    text-align: center;
    z-index: 2;
    user-select: none;
    -webkit-user-select: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: box-shadow ease .5s;
    box-shadow: 0 0 3px rgba(0, 0, 0, .44);
}

.transparent #title {
    box-shadow: 0 26px 43px rgba(0, 0, 0, .47), 0 0 3px rgba(0, 0, 0, .44);
}

#title.drawing {
    z-index: 0;
}

#title span {
    display: inline-block;
    line-height: 36px;
    user-select: none;
    -webkit-user-select: none;
}

#toolbar {
    height: 36px;
    width: 480px;
    border-radius: 4px;
    -webkit-user-select: none;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 10px 0 78px;
    z-index: 6;
    cursor: pointer;
    position: relative;
}

#toolbar.drawing {
    z-index: 1;
}

.verticalToolbar i {
    transform: rotate(90deg);
}

.drawable i {
    transition: transform ease .5s;
}

#toolbar.drawable {
    -webkit-app-region: no-drag;
    padding: 0 10px 0 0;
    left: calc(50% - 215px);
    top: 56px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .44); /*, inset 0px 1px 1px rgba(255,255,255,.1);*/
    transition: transform ease .5s, box-shadow ease .5s;
    transform-origin: top right;
}

.transparent > #toolbar {
    box-shadow: 0 26px 43px rgba(0, 0, 0, .47), 0 0 3px rgba(0, 0, 0, .44);
}

#toolbar.verticalToolbar {
    transform: rotate(-90deg);
    box-shadow: -26px 0 43px rgba(0, 0, 0, .47), 0 0 3px rgba(0, 0, 0, .44);
}

.separator-vertical {
    padding: 0 1px 0 0;
    height: 18px;
    background: rgb(102, 102, 102);
}

#toolbar button {
    border: none;
    padding: 0;
    margin: 0 6px;
    height: 36px;
    outline: none;
    background: none;
    font-size: 18px;
    float: left;
}

button:disabled {
    opacity: .5;
}

#toolbar button i, #circular-toolbar button i {
    width: 36px;
}

#toolbar button:active {
    background: rgb(2, 103, 202);
}

#toolbar .dropdown.open button {
    background: rgb(2, 103, 202);
}

#toolbar .dropdown-menu > li > a:focus, #toolbar .dropdown-menu > li.selected a {
    color: white;
    background: rgb(2, 103, 202);
    border: none;
    outline: none;
}

#toolbar .dropdown.open i {
    color: rgba(255, 255, 255, 1);
}

#toolbar button:active i, #circular-toolbar button:active i {
    color: rgba(255, 255, 255, 1);
}

#drawable-region {
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    cursor: crosshair;
}

#drawable-region.grid {
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height: 100%;
    background-size: 50px 50px;
    z-index: -1;
    background-position: -12px 24px;
}

.light > #drawable-region.grid {
    filter: invert();
}

#circular-toolbar button {
    position: absolute;
    padding: 0;
    outline: none;
    background: none;
    font-size: 18px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

#circular-toolbar {
    position: absolute;
    background: rgba(36, 36, 36, .86);
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
    border-radius: 75px;
    top: calc(50% - 75px + 36px);
    z-index: 4;
    box-shadow: 0 26px 43px rgba(0, 0, 0, .47), 0 0 3px rgba(0, 0, 0, .44);
}

#circular-toolbar .cog {
    top: 110px;
    left: 60px;
}

#circular-toolbar .adjust {
    top: 10px;
    left: 60px;
}

#circular-toolbar .undo {
    top: 25px;
    left: 25px;
}

#circular-toolbar .trash {
    top: 25px;
    left: 100px;
}

#circular-toolbar .eyedropper {
    top: 60px;
    left: 10px;
}

#circular-toolbar .eye {
    top: 60px;
    left: 110px;
}

#circular-toolbar .clipboard {
    top: 95px;
    left: 100px;
}

#circular-toolbar .mouse-pointer {
    top: 95px;
    left: 25px;
}

.canvas {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: crosshair;
}

#cover {
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#stroke-preview-width {
    background-color: black;
    border-radius: 1000px;
    min-width: 1px;
    min-height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#circular-toolbar.ng-hide-add, #toolbar.drawable.ng-hide-add {
    transform: translateZ(0px);
    opacity: 1;
    transition: all linear 0.5s;
}

#circular-toolbar.ng-hide-add.ng-hide-add-active, #toolbar.drawable.ng-hide-add.ng-hide-add-active {
    transform: translateZ(-1000px);
    opacity: 0;
}

#circular-toolbar.ng-hide-remove, #toolbar.drawable.ng-hide-remove {
    transform: translateZ(-1000px);
    transition: all ease-out 0.5s;
    opacity: 0;
}

#circular-toolbar.ng-hide-remove.ng-hide-remove-active, #toolbar.drawable.ng-hide-remove.ng-hide-remove-active {
    transform: translateZ(0px);
    opacity: 1;
}

@-webkit-keyframes screenFlash {
    0% {
        background-color: white;
        opacity: 1;
    }

    100% {
        background-color: transparent;
        opacity: 0;
    }
}

.flash {
    -webkit-animation-name: screenFlash;
    -webkit-animation-duration: 900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
}

.switch {
    width: 31px;
    height: 18px;
}

.switch small {
    height: 18px;
    width: 18px;
}

.switch.checked small {
    left: 13px;
}

.hr-divider {
    min-width: 165px;
}

.right-config {
    display: inline;
    float: right;
}

.center-parent {
    position: relative;
    float: right;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    border-radius: 1000px;
}
