<!DOCTYPE html>
<html>
<head>
  <title>Pin Assignments - Draw Anywhere</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<body>
  <script>
  var app = angular.module("myApp", []);
  app.controller("myCtrl", function($scope, $http) {
    $scope.pins = [
      {"name": "D00", "usage": "" },
      {"name": "D01", "usage": "DE1XBEEOUT(RX)"},
      {"name": "D02", "usage": "" },
      {"name": "D03", "usage": "DE1XBEEIN(TX)"},
      {"name": "D04", "usage": ""},
      {"name": "D05", "usage": "CS8"},
      {"name": "D06", "usage": ""},
      {"name": "D07", "usage": "RECEIVER8"},
      {"name": "D08", "usage": ""},
      {"name": "D09", "usage": "CS7"},
      {"name": "D10", "usage": ""},
      {"name": "D11", "usage": "RECEIVER7"},
      {"name": "D12", "usage": ""},
      {"name": "D13", "usage": "CS6"},
      {"name": "D14", "usage": ""},
      {"name": "D15", "usage": "RECEIVER6"},
      {"name": "D16", "usage": ""},
      {"name": "D17", "usage": "CS5"},
      {"name": "D18", "usage": ""},
      {"name": "D19", "usage": "RECEIVER5"},
      {"name": "D20", "usage": ""},
      {"name": "D21", "usage": "CS4"},
      {"name": "D22", "usage": ""},
      {"name": "D23", "usage": "RECEIVER4"},
      {"name": "D24", "usage": ""},
      {"name": "D25", "usage": "CS3"},
      {"name": "D26", "usage": ""},
      {"name": "D27", "usage": "RECEIVER3"},
      {"name": "D28", "usage": ""},
      {"name": "D29", "usage": "CS2"},
      {"name": "D30", "usage": ""},
      {"name": "D31", "usage": "RECEIVER2"},
      {"name": "D32", "usage": ""},
      {"name": "D33", "usage": "CS1"},
      {"name": "D34", "usage": "SCLK"},
      {"name": "D35", "usage": "RECEIVER1"},
    ]

    $scope.sortBy = "name";
    $scope.sortByToggle = function(name){
      if($scope.sortBy.includes(name)){
        if(name == $scope.sortBy){
          $scope.sortBy = "-"+name;
        }else{
          $scope.sortBy = name;
        }
      }else{
        $scope.sortBy = name;
      }
    }

  });
  </script>
  <div class="container-fluid" ng-app="myApp" ng-controller="myCtrl">
    <div class="row">
      <div class="col-md-2 col-lg-2"></div>
      <div class="col-sm-12 col-xs-12 col-md-8 col-lg-8">
        <div class="jumbotron" style="margin-top:15px">
          <h3>Draw Anywhere
            <small class="text-muted">Pin Assignments</small>
          </h3>
          <hr class="my-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." ng-model="query">
          </div>
          <table class="table table-sm" style="margin-top:15px;">
            <thead class="thead-inverse">
              <tr>
                <th ng-click="sortByToggle('name')">Port name</th>
                <th ng-click="sortByToggle('usage')">Use</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="pin in pins |filter: query | orderBy: sortBy">
                <th scope="row">{{pin.name}}</th>
                <td>{{pin.usage}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
