<section class="jumbotron text-center" style="background: white">
    <div class="container" style="max-width: 40rem">
        <img class="img-fluid" src="./img/hello.png" alt="Card image cap">
        <h1 class="jumbotron-heading">Draw Anywhere</h1>
        <p class="lead text-muted">
            Draw on any surface with a stylus. Our custom hardware and software enable accurate position tracking with
            tons of useful features.
        </p>
    </div>
</section>
<div class="bg-faded py-5 text-muted">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4><a ng-click="navigate('software')" class="text-muted">Software</a></h4>
                <p>Get a deeper understanding of the languages and libraries used in development.</p>
            </div>
            <div class="col-lg-4">
                <h4><a ng-click="navigate('hardware')" class="text-muted">Hardware</a></h4>
                <p>Checkout schematics and PCB designs.</p>
            </div>
            <div class="col-lg-4">
                <h4><a ng-click="navigate('docs')" class="text-muted">Documentation</a></h4>
                <p>Learn more about the details of the project.</p>
            </div>
        </div>
    </div>
</div>